@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Pacifico&display=swap');


* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;

  overflow-x: hidden;
}

.wrapper {  
    width: 100vw;
    height: 100vh;
    background-image: url(https://cdn.dribbble.com/users/119530/screenshots/3433250/comp4.gif);
    color: #fff;
    background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 2em;
  background-color: black;
}

.brand{
margin-top: -8px;

}
.menu li {

  list-style: none;

}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.menu .activo {

  color: #fff;
}

.menu a:hover {
  background-color: aqua;
  color: #191c32;
  transition: ease-in .3s;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}

.mainacerca {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}

h1 {
  color: black;
  
}

.cat{
  height: 70vh;
  width: 25vw;
  object-fit: cover;
  margin-top: 20px;
  max-width: 100%;
  
}

.parrafo {
  color: black;
}

.icono {
  height: 10vh;
  margin: 5vh;
}
.info-content{
  margin-top: 10%;
}

.parrafoinfo{
  color: black;
}

.footer{
  background-color: black;
  color: white;
  
}

/* @media screen and (min-width:300px) and (max-width:800px) {
  body{font-size:0.8em;}
  sidebar{display:none;}
  } */

@media (max-width:680px){
  
  .Escuela {
    width: 100%;
    margin-top: -85px;
  }
  .cat {
    height: 25%;
    margin-top: 50%;
    
  }
  .info-contentinicio{
    margin-top: 50%;
  }
  
  .parrafoinfo{
    color: black;
    font-size: small;
  }
  .menu{
    flex-direction: column;
    padding: 10px;
  }

  .mainacerca {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
  }

  .menu a:hover {
    background-color: aqua;
    color: #191c32;
    transition: ease-in 0.5s;
  }

  .main{
    padding: 20px;
  }

